body {
  font-family: Helvetica, Trebuchet, Arial, sans-serif;
  background-color: #72644A;
}

a {
  text-decoration: none;
  color: #424242;
}

a.button {
  font-family: 'Crafty Girls';
  background-color: #299684;
  color: white;
  padding: .5em;
}

a.button:hover {
  background-color: #1E6D60
}

hr {
  margin: 1.5em 0;
}

h1 {
  font-family: 'Crafty Girls';
  color: #FF8500;
}

h2 {
  color: #299684;
}

ul {
  padding: 0;
  list-style-type: none
}

ul li {
  padding: .5em 1em;
}

ul li:nth-child(odd) {
  background-color: #EBE7CA;
}

.content {
  background-color: #FFFBDF;
  padding: 1em 2em 2em 2em;
  margin: 2em;
}
