<!DOCTYPE html>
<html>
  <head>
    <title>bok choy</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" media="screen">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body %>
    <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>
