<% layout('layout') -%>
<div class="span6">
<h2><%= recipe.title %> </h2>
<p><%- recipe.body %></p>
<div class="pagination">
<ul>
<li>
<% if (prev !== undefined) { %>
<%- link_to("Prev", "/recipes/" + prev) %>
<% } else { %>
<span>Prev</span>
<% } %>
</li>
<li>
<a href="/recipes">Up</a>
</li>
<li>
<% if (next !== undefined) { %>
<%- link_to("Next", "/recipes/" + next) %>
<% } else { %>
<span>Next</span>
<% } %>
</li>
</ul>
</div>
</div>
